body {
	background-color: black; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	background-size: contain;
}

#content {
	display: flex; 
	flex-direction: column; 
	width: max-content; 
	margin: 20px;
	margin-left: 0px;
	padding: 0px;
}

.column {
	display: flex;
	flex-direction: column;
}

#bottom .column:first-child, #bottom .column:nth-child(2) {
	width: 180px;
}

.row {
	margin-bottom: 0px;
	display: flex;
	padding: 10px;
}

.row > div {
	margin-right: 10px;
}

.column:last-child {
	margin-right: 0px;
}

.white {
	border-radius: 10px;
	padding: 10px;
	background-color: rgba(255, 255, 255, .4);
	margin-bottom: 10px;
}

.minimize {
	width: 6px;
	float: right;
	padding: 2px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 6px;
	user-select: none;
	cursor: pointer;
}

.edit {
	max-height: 200px;
	overflow-y: scroll;
}

.rating {
	display: flex;
}

.rating input {
	flex-grow: 1;
}

#details em {
	font-size: small;
}

h3 {
	margin-top: 0px;
	margin-right: 10px;
	background-color: rgba(0, 0, 0, .2);
	width: fit-content;
	display: inline-block;
}

#title {
	max-width: 700px; 
	height:100px; 
	align-self: center; 
	display: flex; 
	align-items: center; 
	padding-left: 50px; 
	padding-right: 50px;
}

#title span {
	text-shadow: 1px 1px black;
	cursor: hand;
}

ul {
	margin-top: 0px;
	padding-left: 10px;
}

li {
	display: flex;
	user-select: none;
	overflow: hidden;
	font-style: italic;
	padding-left: 30px;
	list-style-type: none;
}

span.title {
	flex-grow: 1;
}

li #category {
	padding-left: 0px;
}

li input {
	vertical-align: bottom;
	opacity: 1;
}

label {
	display: block;
	width: 100%;
}

label span:last-child {
	float: right;
}
